@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size:100%; 
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);

} 

.cabecalho {
    display:flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-around; 
    padding: 20px;
    

}

.cabecalho-imagem {
    padding: 20px;
}


.cabecalho-menu {
    padding-top: 20px;
    display:flex;
    gap:32px; 
}

.cabecalho-menu-item {
    font-family:'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400; 
    font-size:18px;     
}

.conteudo {
    border-top: 0.4px solid #FFF2E7; 
    margin-bottom: 48px;

}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.conteudo-principal-escrito {
    display:flex;
    flex-direction: column; 
    gap: 32px;    
   }

.conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color:#FFF2E7;
    padding: 24px;
}

.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    padding-left: 24px;
    padding-right: 24px;
}

.botao {
    background-color: #ecd6c4;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #2f2325;
    margin-left: 24px;

}

.botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.imagem-ballebot {
    
    flex-wrap: wrap;
    height: 430px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px; 
    font-family: "righteous" cursive;
    font-weight: 400;
    font-size: 24p;
    color: #FFF2E7;
    margin-bottom: 16px;


}

.conteudo-secundario-paragrago {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ecd6c4;
    padding-left: 24px;
    padding-right: 24px;
}

.rodape {
    padding: 3px;
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px; 
}

.rodape-imagem {
    height:48px;
    display:block; 
    margin: 0 auto;
}


/*=========MEDIA QUERIES (DISPOSITIVOS PEQUENOS) ==========*/
@media screen and (max-width:600px){
    .conteudo .conteudo-principal .conteudo-principal-escrito .conteudo-principal-escrito-titulo {
        display:block;
        margin-left: auto;
        margin-right: auto;
    }

    .conteudo-principal-escrito-subtitulo {
        text-align: center;
    }

    .conteudo .conteudo-principal .conteudo-principal-escrito .botao {
        display:block;
        margin-left: auto;
        margin-right: auto;
    }
}